/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

/**
 * Vendor plugins
 */

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "node_modules/sweetalert/dev/sweetalert";
//@import "node_modules/font-awesome/scss/font-awesome";
//@import "node_modules/animate.css/scss/animate";

/* ==========================================================================
   Base Styles
   ========================================================================== */

@import "base";

/**
 * Helper Variables & Functions
 */

@font-face {
  font-family: 'Neo Sans Std';
  src: url('../fonts/Neo Sans Std Regular.eot');
  src: url('../fonts/Neo Sans Std Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Neo Sans Std Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Neo Sans Std Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Neo Sans Std Regular.svg#6b94167f362721a15c8c80567e8945f1') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

 /*@font-face {
   font-family: ooredoo;
   src:
   url('../fonts/ooredoo-regular-webfont.woff2') format('woff2'),
   url('../fonts/ooredoo-regular-webfont.woff') format('woff');
 }

 @font-face {
   font-family: ooredoo;
   src:
   url('../fonts/ooredoo-bold-webfont.woff2') format('woff2'),
   url('../fonts/ooredoo-bold-webfont.woff') format('woff');
   font-weight: bold;
 }
*/

$blue: #164059;
$green: #80af3b;
$orange: #f29216;

//$font: ooredoo, helvetica, arial, sans-serif;
$font: "Neo Sans Std", Helvetica, Arial, sans-serif;

body {
  font: 1.4em/1.4 $font;
  color:$blue;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  // background: url(../img/bg.png) center top no-repeat;
  /*.flexbox & {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }*/
}

::selection {
  background: $green;
  color: #FFF;
  text-shadow: none;
}

a {
  color: $green;
  &:hover, &:focus {
    color: $blue;
    text-decoration: none;
  }
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}

/* ==========================================================================
   Layout Styles
   ========================================================================== */

header{
  margin-bottom: 20px;
  border-top: 5px solid #FFF;
  padding-top: 350px;
  .home &{
    background: $blue url(../img/home-banner-bg.jpg) center ;

  }
  .a-propos &{
    background: $blue url(../img/banner1.jpg) center top;
  }
  .missions &{
    background: $blue url(../img/banner2.jpg) center top;
  }
  .action &{
    background: $blue url(../img/banner3.jpg) center top;
  }
  .contact &{
    background: $blue url(../img/banner4.jpg) center top;
  }
  .nav{
    background: #FFF;
    text-align: center;
    border-bottom: 3px solid $green;
    a{
      text-transform: uppercase;
      font-size: 12px;
      margin: 0 20px;
      &.logo img{
        margin-top: -75px;
        width: 230px;
      }
    }
  }
}
.main {
  //  .flexbox & { flex: 1 0 auto; }
  position: relative;
}

.learn-more{
  padding: 8px 15px;
  border-radius: 48px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
  &:hover{
    color: $green;
  }
}

/* ==========================================================================
   Module Styles
   ========================================================================== */

.a-propos-block{
  padding: 40px 0 ;
  .text-block{
    border-radius: 25px;
    border: 2px solid #ddd;
    padding: 40px 60px;
    h2{
      color: $green;
    }
  }
  .pic-block{
    text-align: center;
    img{width: 390px;}
  }
  .learn-more{
    background-color: $green;
    &:hover{
      color: $blue;
    }
  }
}

.mission-block{
  padding: 40px 0 ;
  .block{
    background: $orange url("../img/hands.png") 90% -77%  no-repeat;
    background-size: 310px;
    border-radius: 15px;
    padding: 20px 60px;
    color: #FFF;
  }
  .learn-more{
    background-color: $blue;
  }
}

.action-block{
  padding: 40px 0;
  .block{
    background: $blue url("../img/bg-action.jpg") 90%  top no-repeat;
    border-radius: 15px;
    padding: 40px 60px;
    color: #FFF;
    .text{
      background: rgba(0,0,0,0.3);
      border-radius: 15px;
      padding: 20px 20px;
    }
  }
  h2{
    color: $orange;
  }
  .learn-more{
    background-color: $orange;
    &:hover{
      color: $blue;
    }
  }
}



.map-block{
  background-color: $green;
}



footer{
  background-color: $green;
  padding: 10px 0;
  a{
    color: #FFF;
    margin-right: 20px;
  }
}
